@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  /* Slate 900 */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #FDFBF7;
  /* Sand 50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for clean UI in horizontal lists */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes wave {

  0%,
  100% {
    height: 4px;
  }

  50% {
    height: 24px;
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
}

@keyframes scan-line {
  0% {
    top: 0%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

.animate-scan-line {
  animation: scan-line 2s linear infinite;
  background: linear-gradient(to bottom, transparent, rgba(16, 185, 129, 0.8), transparent);
}